@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .hero-image {
    &__title {
      font-size: 4.375em;
    }
  }

  .main-proyects {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    &__description {
      width: 100%;
    }
    &__flex-order-1 {
      order: 0;
    }
  }

  @media screen and (max-width: 992px) {
    body {
      font-size: 13px;
    }

    .hero-image {
      &__title {
        font-size: 3.125em;
      }
      &__subtitle {
        font-size: 2.5em;
      }
    }
  }

  @media screen and (max-width: 768px) {
    body {
      font-size: 12px;
    }

    .hero-image {
      &__title {
        font-size: 2.5em;
      }
      &__subtitle {
        font-size: 2em;
      }
    }
    .header {
      &__menu-ul {
        display: flex;
        flex-direction: column;
        display: none;
      }
    }

    .hero-image {
      &__img-perfil--img {
        width: 100px;
      }
    }
  }

  @media (max-width: 576px) {
    body {
      font-size: 11px;
    }
  }
  .perfil {
    &__text-me {
      width: 100%;
    }
    &__description-me {
      width: 100%;
      line-height: 1.25rem;
    }
  }

  @media (max-width: 365px) {
    body {
      font-size: 9px;
    }

    .perfil {
     &__title-me {
      font-size: .6rem;
     }
    }
  }
}
