@import './global.scss';

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2em;
  font-weight: bold;
  background-color: $color-boton;
  color: $color-light;
  outline: none;
  border: 0;
  transition: 0.3s ease-out all;
  &:hover {
    background-color: $color-secundary;
    color: $color-primary;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: $color-secundary;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: $color-secundary;
}
